* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header a {
    text-decoration: inherit;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.header a:hover {
    text-decoration: underline;
}

.header-nav {
    float: right;
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
    position: absolute;
    right: 20px;
}


.main-body {
    margin-top: 2%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-body img {
    object-fit: contain;
    height: 90px;
}

.app-img{
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

.app-img:hover {
    box-shadow: 1px 1px 7px 1px darkgray;
}

.account-circle-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.account-circle-img:hover {
    box-shadow: 1px 1px 7px 1px darkgray;
}


.search-img {
    height: 20px;
    width: 20px;
}

.mic-img {
    height: 20px;
    width: 20px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search-input:hover {
    box-shadow: 1px 1px 7px 1px lightgray;
}

.search-input input {
    flex: 1;
    padding: 10 20;
    border: none;
    outline: none;
}

.search-input .search-img {
    color: gray;
    /* color not working */
}

.search-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-buttons button:hover {
    box-shadow: 0.5px 0.5px 1px 1px lightgray;
}

div.lang {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0.9em;
}

div.lang span {
    margin-right: 8px;
}

div.lang a {
    margin-right: 8px;
}

div.footer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
